/* My CSS */

span.error
{
	margin-left: 4px;
	color: red;
	font-weight: bold;
}

table.light_border
{
	border-collapse: collapse;
}

table.light_border td,
table.light_border th
{
	padding: 6px;
	border: 1px solid gray;
}